@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
@utility container {
	margin-left: auto;
	margin-right: auto;
	max-width: 64rem;
}
:root {
	--background: hsl(30, 100%, 98%);
	--foreground: hsl(24, 30%, 12%);
	--card: hsl(30, 100%, 97%);
	--card-foreground: hsl(24, 30%, 12%);
	--popover: hsl(30, 100%, 97%);
	--popover-foreground: hsl(24, 30%, 12%);
	--primary: hsl(28, 85%, 58%);
	--primary-foreground: hsl(0, 0%, 100%);
	--secondary: hsl(34, 55%, 85%);
	--secondary-foreground: hsl(24, 30%, 12%);
	--muted: hsl(34, 55%, 92%);
	--muted-foreground: hsl(24, 30%, 30%);
	--accent: hsl(15, 40%, 65%);
	--accent-foreground: hsl(24, 30%, 12%);
	--destructive: hsl(0, 80%, 55%);
	--destructive-foreground: hsl(0, 0%, 100%);
	--success: hsl(120, 70%, 50%);
	--success-foreground: hsl(30, 100%, 96%);
	--border: hsl(30, 20%, 80%);
	--input: hsl(30, 20%, 80%);
	--radius: 0.5rem;
	--sidebar: hsl(30, 100%, 97%);
	--sidebar-foreground: hsl(24, 30%, 12%);
	--sidebar-primary: hsl(28, 85%, 58%);
	--sidebar-primary-foreground: hsl(24, 30%, 12%);
	--sidebar-accent: hsl(15, 40%, 65%);
	--sidebar-accent-foreground: hsl(24, 30%, 12%);
	--sidebar-border: hsl(30, 20%, 80%);
	--sidebar-ring: hsl(28, 85%, 58%);
	--ring: hsl(28, 85%, 58%);

	--chart-1: hsl(30, 95%, 68%);
	--chart-2: hsl(120, 100%, 50%);
}

.dark {
	--background: hsl(24, 30%, 8%);
	--foreground: hsl(30, 100%, 96%);
	--card: hsl(24, 30%, 10%);
	--card-foreground: hsl(30, 100%, 96%);
	--popover: hsl(24, 30%, 10%);
	--popover-foreground: hsl(30, 100%, 96%);
	--primary: hsl(28, 80%, 65%);
	--primary-foreground: hsl(24, 30%, 12%);
	--secondary: hsl(34, 30%, 20%);
	--secondary-foreground: hsl(30, 100%, 96%);
	--muted: hsl(34, 30%, 22%);
	--muted-foreground: hsl(34, 20%, 70%);
	--accent: hsl(15, 40%, 45%);
	--accent-foreground: hsl(30, 100%, 96%);
	--destructive: hsl(0, 80%, 55%);
	--destructive-foreground: hsl(30, 100%, 96%);
	--success: hsl(120, 70%, 35%);
	--success-foreground: hsl(30, 100%, 96%);
	--border: hsl(34, 30%, 20%);
	--input: hsl(34, 30%, 20%);
	--ring: hsl(30, 95%, 68%);
	--sidebar: hsl(24, 30%, 10%);
	--sidebar-foreground: hsl(30, 100%, 96%);
	--sidebar-primary: hsl(28, 80%, 65%);
	--sidebar-primary-foreground: hsl(24, 30%, 12%);
	--sidebar-accent: hsl(15, 40%, 45%);
	--sidebar-accent-foreground: hsl(30, 100%, 96%);
	--sidebar-border: hsl(34, 30%, 20%);

	--chart-1: hsl(30, 95%, 68%);
	--chart-2: hsl(120, 100%, 50%);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--arenarium-maps-pin-background: var(--color-primary)
		--arenarium-maps-pin-border: var(--color-primary) /* --arenarium-maps-pin-shadow: ...; */
		/* --arenarium-maps-tooltip-background: ...;
	--arenarium-maps-tooltip-shadow: ...;
	--arenarium-maps-tooltip-shadow-hover: ...; */;

	--font-sans: 'Plus Jakarta Sans', sans-serif;
	--font-serif: Lora, serif;
	--font-mono: Roboto Mono, monospace;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}

	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	::selection {
		@apply bg-accent text-accent-foreground;
	}

	::-moz-selection {
		/* Code for Firefox */
		@apply bg-accent text-accent-foreground;
	}
	button {
		@apply cursor-pointer;
	}
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
	font-weight: 200 800;
	font-style: normal;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 200 800;
	font-style: italic;
}
